{% extends 'base.html.twig' %}
{% block title %}Author{% endblock %}

{% block body %}
	

<br />
<div class="container">
	<h2>Sorry to see you go</h2>

	<a href="/">Home</a>
		
</div>

{% endblock %}