{% extends 'base.html.twig' %}
{% block title %}Author{% endblock %}

{% block body %}
	

<br />
<div class="container">
	<h1>{{ user.nickname }}</h1>

		{% for tutorial in user.tutorials %}
			<p>{{ tutorial.title }}</p>

		{% endfor %}

	<a href="/profile/delete" style="color:red">delete my account</a>
		
</div>

{% endblock %}