{% extends 'base.html.twig' %}
{% block title %}{{ controller_name }}{% endblock %}
{% block body %}
	
<div class="container">
	   		          
	<br />
   	<br />
	
		<a href="/tutorials" class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>See all videos</a>
   
   		<a href="/profile/tutorial" class="waves-effect waves-light btn"><i class="material-icons left">add</i>Add a tutorial</a>

		<a href="/profile/tutorial" class="waves-effect waves-light btn"><i class="material-icons left">add</i>Add an article</a>

    <br />
   	<br />

	<h1>Learn with the best</h1>
	<span>Our top favorites ! Tested and approved by by our toughest team.</span>
	 <div class="row">
	    <div class="col s12 m4">
	      <div class="card">
	        <div class="card-image">
	          <img src="https://i.ytimg.com/vi/wRMFS2YrgAk/maxresdefault.jpg">
	          <span class="card-title"></span>
	        </div>
	        <div class="card-content">
	          <h5>Grafikart (fr)</h5>
	          <p>I am a very simple card. I am good at containing small bits of information.
	          I am convenient because I require little markup to use effectively.</p>
	        </div>
	        <div class="card-action">
	          <a href="https://www.grafikart.fr">www.grafikart.fr</a>
	        </div>
	      </div>
	    </div>
	    
	    <div class="col s12 m4">
	      <div class="card">
	        <div class="card-image">
	          <img src="https://pbs.twimg.com/media/CmnldmfW8AI_0Sp.jpg">
	          <span class="card-title"></span>
	        </div>
	        <div class="card-content">
	          <h5>Wes Bos (en)</h5>
	          <p>I am a very simple card. I am good at containing small bits of information.
	          I am convenient because I require little markup to use effectively.</p>
	        </div>
	        <div class="card-action">
	          <a href="https://wesbos.com">www.wesbos.com</a>
	        </div>
	      </div>
	    </div>

	  <div class="col s12 m4">
	      <div class="card">
	        <div class="card-image">
	          <img src="https://i.ytimg.com/vi/HD5Pb4CYGpA/maxresdefault.jpg">
	          <span class="card-title"></span>
	        </div>
	        <div class="card-content">
	          <h5>Go rails (en)</h5>
	          <p>I am a very simple card. I am good at containing small bits of information.
	          I am convenient because I require little markup to use effectively.</p>
	        </div>
	        <div class="card-action">
	          <a href="gorails.com">www.gorails.com</a>
	        </div>
	      </div>
	    </div>
	  </div>

	<div class="row">
		<div class="col s12 m4">
	      <div class="card">
	        <div class="card-image">
	          <img src="https://scontent-cdg2-1.xx.fbcdn.net/v/t31.0-8/1016017_1005847356125776_8766481902000736856_o.png?_nc_cat=0&oh=a231bbd34817e2e0177796c61feee485&oe=5BD308E7">
	          <span class="card-title"></span>
	        </div>
	        <div class="card-content">
	          <h5>Pierre Giraud (fr)</h5>
	          <p>I am a very simple card. I am good at containing small bits of information.
	          I am convenient because I require little markup to use effectively.</p>
	        </div>
	        <div class="card-action">
	          <a href="https://www.pierre-giraud.com">www.pierre-giraud.com</a>
	        </div>
	      </div>
	    </div>
	
		 <div class="col s12 m4">
	      <div class="card">
	        <div class="card-image">
	          <img src="http://pic.accessify.com/thumbnails/777x423/c/codereviewvideos.com.png">
	          <span class="card-title"></span>
	        </div>
	        <div class="card-content">
	          <h5>Code Review video (en)</h5>
	          <p>I am a very simple card. I am good at containing small bits of information.
	          I am convenient because I require little markup to use effectively.</p>
	        </div>
	        <div class="card-action">
	          <a href="https://codereviewvideos.com">www.codereviewvideos.com</a>
	        </div>
	      </div>
	    </div>
	  </div>

	  <div class="row">
	    <div class="col s12 m12">
	      <div class="card-panel teal">
	        <span class="white-text">I am a very simple card. I am good at containing small bits of information.
	        I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
	        </span>
	      </div>
	    </div>
	  </div>
	</div>

{% endblock %}
