
###> symfony/framework-bundle ###
/.idea/
/.env
/public/bundles/
/var/
/vendor/*
!/vendor/heroku/heroku-buildpack-php/support/build/_conf/nginx/*
!/vendor/symfony/twig-bridge/Resources/views/Form*
###< symfony/framework-bundle ###
