

{% extends 'base.html.twig' %}

{% block title %} All the videos !{% endblock %}
{% block body %}


	<ul class="container">
		{% for tutorial in tutorials %}
		        <li>{{ tutorial.title }}</li>
		        <li>{{ tutorial.link }}</li>
				
				<iframe width="560" height="315" src="{{ tutorial.link }}?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

		{% endfor %}
	</ul>

{% endblock %}
