

{% extends 'base.html.twig' %}

{% block title %} All the videos !{% endblock %}
{% block body %}

	<br />

	<div class="container">
		<div class="row">
			<div class="input-field col s5">
			    <select>
					<option value="" disabled selected>Select a category</option>
					<option value="1">Symfony</option>
					<option value="2">React/Vue.js</option>
					<option value="3">Php</option>
					<option value="4">Javascript</option>
					<option value="5">Html/CSS</option>
			    </select>
			    <label>Choose your option</label>
			</div>
		</div>
		
		<br />
		
		{% for tutorial in tutorials %}
			<span  style="float: left; margin-left: 15px;">

			        <p>{{ tutorial.title }}</p>
			        <p>{{ tutorial.link }}</p>
					
					<iframe width="560" height="315" src="{{ tutorial.link|embed(tutorial.link) }}?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

			</span>
		{% endfor %}
	</div>

{% endblock %}
