{% extends 'base.html.twig' %}
{% block title %}Contact{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col m10 offset-m1 s12">
            <h2 class="center-align">Contact Form</h2>
            <div class="row">
                <form class="col m8 offset-m2 s12" action="{{ path('send') }}" method="post">
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="name" type="text" name="name">
                            <label for="name">Name</label>
                        </div>
                        <div class="input-field col s12">
                            <input id="email" type="email" name="email" class="form-input">
                            <label for="email">Email</label>
                        </div>
                         <div class="input-field col s12">
                          <textarea id="subject" name="subject" class="materialize-textarea"></textarea>
                          <label for="subject">Subject</label>
                        </div>
                        <div class="input-field col s12">
                          <textarea id="message" name="message" class="materialize-textarea"></textarea>
                          <label for="message">Message</label>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col m12">
                         <p class="right-align"><button class="btn btn-large waves-effect waves-light" type="submit" name="action">Send Message</button></p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}