{% extends 'base.html.twig' %}
{% block title %}List of our authors{% endblock %}

{% block body %}
	
<br />


<div class="container">
	<h1>Update user</h1>
	{{ form_start(form) }}
   
	{{ form_end(form) }}

	<br />
	<a href="/user/{{id}}">See this user</a>
	<br />
	<a href="/admin/user/delete/{{id}}">Delete this user</a>

</div>

{% endblock %}