{% extends 'base.html.twig' %}
{% block title %}Author{% endblock %}

{% block body %}
	

<br />

<h1>{{ user.firstname }}</h1>

	{% for tutorial in user.tutorials %}
		<p>{{ tutorial.title }}</p>

	{% endfor %}


{% endblock %}